<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <form action="/authors/modify" method="post">
        <label for="firstname">Author's firstname:</label>
        <input type="text" name="firstname" id="firstname" value="<%= author.firstname %>">
        <label for="lastname">Author's lastname:</label>
        <input type="text" name="lastname" id="lastname" value="<%= author.lastname %>">
        <label for="emailAdress">Author's Email adress:</label>
        <input type="email" name="emailAdress" id="emailAdress" value="<%= author.emailadress %>">
        <input type="hidden" name ="id" value="<%= author.id %>">
        <button type="submit">Submit</button>
    </form>
</body>
</html>