<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <a href="/">Back</a>
    <ul>
        <% books.forEach((book) => { %>
            <li><%= book.title %> - <%= book.price %> €
            <a href="/books/delete/<%= book.id %>"><button>Delete</button></a>
            <a href="/books/<%= book.id %>"><button>Modify</button></a>
            </li>
        <% }) %>
    </ul>
    
    <form action="/books/add" method="post">
        <h3>Add a book</h3>
        <label for="bookTitle">Add a book:</label>
        <input type="text" name="bookTitle" id="bookTitle">
        <label for="pageNumber">Pages:</label>
        <input type="int" name="pageNumber" id="pageNumber">
        <label for="price">Price:</label>
        <input type="int" name="price" id="price">
        <label for="genre">Genre :</label>
        <select name="genre">
            <% genres.forEach((genre) => { %>
                <option value="<%= genre.id %>"><%= genre.name %></option>
            <% }) %> 
        </select>
        <label for="editor">Editor:</label>
        <select name="editor">
            <% editors.forEach((editor) => { %>
                <option value="<%= editor.id %>"><%= editor.name %></option>
            <% }) %>
        </select>
        <label for="author">Author:</label>
        <select name="author">
        <% authors.forEach((author) => { %>
            <option value="<%= author.id %>"><%= author.firstname %> <%= author.lastname %></option>
        <% }) %>
        </select>
        <button type="submit">Submit</button>
    </form>
</body>
</html>