<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Book: <%= title %></h1>
    <a href="/books">Back</a>

    <form action="/books/add" method="post">
        <h3>Current informations</h3>
        <p>Title: <%= book.title %></p>
        <p>Author: <%= currentAuthor.firstname %> <%= currentAuthor.lastname %></p>
        <p>Page number: <%= book.pageNumber %></p>
        <p>Price: <%= book.price %> €</p>
        
        <h3>Modify</h3>
        <label for="bookTitle">Title:</label>
        <input type="text" name="bookTitle" id="bookTitle" value="<%= book.title %>">
        <label for="pageNumber">Pages:</label>
        <input type="int" name="pageNumber" id="pageNumber" value="<%= book.pageNumber %>">
        <label for="price">Price:</label>
        <input type="int" name="price" id="price" value="<%= book.price %>">
        <label for="genre">Genre :</label>
        <select name="genre">
            <% genres.forEach((genre) => { %>
                <option value="<%= genre.id %>"><%= genre.name %></option>
            <% }) %> 
        </select>
        <label for="editor">Editor:</label>
        <select name="editor">
            <% editors.forEach((editor) => { %>
                <option value="<%= editor.id %>"><%= editor.name %></option>
            <% }) %>
        </select>
        <label for="author">Author:</label>
        <select name="author">
        <% authors.forEach((author) => { %>
            <option value="<%= author.id %>"><%= author.firstname %> <%= author.lastname %></option>
        <% }) %>
        </select>
        <button type="submit">Modify</button>
    </form>
</body>
</html>