<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
    <a href="/">Back</a>
    <ul>
        <% genres.forEach((genre) => { %>
            <li  class="listElement">
                <%= genre.name %>
                <a href="genres/delete/<%= genre.id %>"><button class="deleteButton">Delete</button></a>
                <a href="genres/<%= genre.id %>"><button class="modifyButton">Modify</button></a>
            </li>
        <% }) %>
    </ul>
    <form action="/genres/add" method="post">
        <label for="genreName">Add a genre:</label>
        <input type="text" name="genreName" id="genreName">
        <button type="submit">Submit</button>
    </form>
</body>
</html>